[Unit]
Description=Touchbar Daemon for controlling Touch Bar status

[Service]
Type=simple
Restart=always
RestartSec=2
ExecStart=/usr/bin/touchbard

[Install]
WantedBy=default.target
