[Unit]
Description=Touchbar Daemon for controlling Touch Bar status

[Service]
Type=simple
Restart=always
RestartSec=2
ExecStart=/usr/bin/touchbard
PIDFile=/run/touchbard/touchbard.pid

[Install]
WantedBy=default.target
